@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
    label, input {
        width: 100%;
    }
    button {
        width: 100%;
    }
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #22343e;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #F8F1F1;
    border-radius: 4px;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    display: inline-block;
    width: 130px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #F8F1F1;
    background-color: #22343e;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4f616f;
}

p#resultado {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    color:  #22343e;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.modo-noturno {
    background-color: #141414;
    color: #e8e8e8; /* Defina a cor de fundo e do texto no modo noturno */
}

.modo-noturno label {
    color: #e8e8e8; /* Defina a cor do texto para branco no modo noturno */
}

.modo-noturno p#resultado {
    color:  #e8e8e8; /* Defina a cor do texto para branco no modo noturno */
}

/* Estilo do botão no modo noturno ao passar o mouse */
.modo-noturno .button-noturno:hover {
    background-color: #9b9b9b;
}